@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100&family=Poppins:wght@100&display=swap');;

:root {
    --softred: hsl(14, 88%, 65%);
    --veryDarkGrayBlue: hsl(237, 12%, 33%);
    --DarkGrayishBlue: hsl(240, 6%, 50%);
    --LightGrayishBlue: hsl(240, 5%, 91%);
    --fontSize: 12px;
}

* {
    box-sizing: border-box;
}

html{
    font-size: var(--fontSize);
}

body{
    margin: 0;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    height: 100vh;
    width: 100vw;
    background: linear-gradient( hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    display: grid;
    justify-content: center;
    align-content: center;
}

.wrapper {
    background: rgb(226,226,226) url('./images/bg-pattern-desktop.svg') no-repeat 1260% 65%;
    border-radius: 20px;
    height: 609px;
    width: 920px;
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-gap: 6rem;
}

.answer{
    display: none;
}

.active .answer{
    display: block;
    padding-bottom: 1.3rem;
    color:  var(--veryDarkGrayBlue);
    transition: all .3s ease-in;
}

.active img{
    transform: rotate(180deg);
    transition: all .3s ease-in;
}

.active h3{
    font-weight: 700;
}

img{
    transform: rotate(0deg);
    transition: all .3s ease-in;
}

.accordion__wrapper{
    margin-top: 65px;
    display: flex;
    flex-direction: column;
}

.question__accordion{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.question-answer__accordion{
    width: 350px;
    border-bottom: 1px solid #e8e8ea;
}

.title__accordion{
    font-size: 3rem;
    margin-top: 0px;
}

.title__question{
    font-weight: 400;
    font-size: 1.2rem;
    color:  var(--veryDarkGrayBlue);
    margin: 1.4rem 0rem;
}

.question{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.question img{
    align-self: center;
    padding-right: 60px;
}

.image__wrapper{
    position: relative;

}

.image__wrapper--inner img{
padding-top: 80px;
}

.box{
    position: absolute;
    top: 40%;
    left: -27%;
}